h1.q{
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 2.0em;color:#458ED2;text-shadow: 3px 3px #C0D8EF;
}
div.boxin{
border-top-style:dashed;
border-right-style:dotted;
border-bottom-style:dashed;
border-left-style:dotted;
z-index: 10;
}
div.background
  {
  width:500px;
  height:250px;
  background:url(images/stripe.png) repeat;
  border:2px solid black;
  background: yellow;
  z-index: 0;
  }