input[type="text"],
input[type="password"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
form#logForm{
  background-color:#FFF;
  border-style:solid;
  border-width:4px;
  border-color:#1c94c4;
  -moz-border-radius: 21px;
  border-radius: 17px; 
  -moz-box-shadow: 4px 5px 0 0px #C0D8EF;
  -webkit-box-shadow: 4px 5px 0 0px #C0D8EF;
  box-shadow: 15px 15px 0 0px #1c94c4;
  padding-top:20px;
  padding-bottom:20px;
  padding-right:1px;
  padding-left:12px;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 0.9em;color:#969696;

}
form#regForm{
  background-color:#FFF;
  border-style:solid;
  border-width:4px;
  border-color:#1c94c4;
  -moz-border-radius: 21px;
  border-radius: 17px; 
  -moz-box-shadow: 5px 5px 0 0px #1c94c4;
  -webkit-box-shadow: 5px 5px 0 0px #1c94c4;
  box-shadow: 15px 15px 0 0px #1c94c4;
  padding-top:20px;
  padding-bottom:20px;
  padding-right:0px;
  padding-left:12px;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 0.9em;color:#969696;

}
span.ftitle{
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.7em;color:#1c94c4;
}
div.boxin{ 

  padding-top:0px;
  padding-bottom:0px;
  padding-right:5px;
  padding-left:5px;
}
hr{
  border:0;
  height:3px;
  background-color: #93968F;
}
span.title {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 2.5em;color:#FFF;
}
#bartitle {
  border-style:solid;
border-width:3px;
border-color:#FFF;
  background-color: #1c94c4;
  -moz-border-radius: 14px;
  border-radius: 14px; 
  -moz-box-shadow: 4px 5px 0 0px #1c94c4;
-webkit-box-shadow: 4px 5px 0 0px #1c94c4;
box-shadow: 10px 10px 0 0px #1c94c4;
background-image: url("../images/stripe.png");
background-repeat: repeat-x;
}
span.lang {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 0.8em;color:#FFFFFF;
}