body{
font-family: lucida grande,tahoma,verdana,arial,sans-serif; font-size: 0.9em;color:#eeeeee;
}
span#regspaceing{
font-family: lucida grande,tahoma,verdana,arial,sans-serif; font-size: 1.1em;color:#969696;line-height:26px;
}
input[type="text"],
input[type="password"] {
  max-width:175px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 5px;
  text-align: left;
  font-size: 1.1em;
  font-family: lucida grande,tahoma,verdana,arial,sans-serif;
  vertical-align: top;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 1px;
  height: auto;
}


form#regForm{
  width: 330px;
  background-color:#FFF;
  border-style:solid;
  border-width:1px;
  border-color:#D6D6D6;
 
  /*
  -moz-box-shadow: 4px 5px 0 0px #C0D8EF;
  -webkit-box-shadow: 4px 5px 0 0px #C0D8EF;
  box-shadow: 15px 15px 0 0px #1c94c4;*/
  padding-top:17px;
  padding-bottom:20px;
  padding-right:1px;
  padding-left:12px;
  font-family: lucida grande,tahoma,verdana,arial,sans-serif; font-size: 0.9em;color:#969696;

}

#righttop {
  margin-left: 4px;
}
#rememe {
  margin-left: 70px;
}
#pwdmargin {
  float: right;
}

div.boxin{ 

  padding-top:0px;
  padding-bottom:0px;
  padding-right:5px;
  padding-left:5px;
}


#left {
  margin-left: -20px;
  margin-top: 8px;
}

h3 {
  font-family: 'Grand Hotel', cursive; font-size: 2.8em;color:#1c94c4;
  margin-left: 6px;
  margin-top: 0px;
  margin-bottom: 8px;
}
h4 {
  font-family: lucida grande,tahoma,verdana,arial,sans-serif; font-size: 1.3em;color:#969696;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 9px;
}

input#doRegister{
	float:right;
	margin: 15px;
}
input#btnAvailable,
input#doRegister
 {
  margin-top: 6px;
  font-family: lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  color: #ffffff;
  padding: 3px 5px;
  background: -moz-linear-gradient(
    top,
    #1c94c4 0%,
    #2d8bb3);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#1c94c4),
    to(#2d8bb3));
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #fffffc;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 2px rgba(255,255,255,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 2px rgba(255,255,255,1);
  box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 2px rgba(255,255,255,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.4);
}
#usr_email3,
#first_name,
#last_name,
#user_name,
#pwd,#pwd2 {
  float: right;
  margin-right: 15px;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.msg {
padding: 5px;
max-width: 301px;
margin: 2px;
color: #c00;
border: 1px solid #c00;
background-color: #FEF1ED;
font-family: lucida grande,tahoma,verdana,arial,sans-serif;
font-size: 11px;
}